In [1]:
%run train.ipynb

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 2528 samples in 0.503s...
[t-SNE] Computed neighbors for 2528 samples in 24.765s...
[t-SNE] Computed conditional probabilities for sample 1000 / 2528
[t-SNE] Computed conditional probabilities for sample 2000 / 2528
[t-SNE] Computed conditional probabilities for sample 2528 / 2528
[t-SNE] Mean sigma: 2264.397602
[t-SNE] KL divergence after 250 iterations with early exaggeration: 97.678612
[t-SNE] KL divergence after 1000 iterations: 1.834257

# Test

In [2]:
test_img = []
test_label = []

In [3]:
img = 0
for file in os.listdir(test_img_path):
    img = Image.open(test_img_path + '/' + file)
    im = np.array(img).reshape(-1)
    test_img.append(im)
test_img = np.array(test_img)

In [4]:
tsne_test = TSNE(2, test_img)

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 10142 samples in 2.152s...
[t-SNE] Computed neighbors for 10142 samples in 283.862s...
[t-SNE] Computed conditional probabilities for sample 1000 / 10142
[t-SNE] Computed conditional probabilities for sample 2000 / 10142
[t-SNE] Computed conditional probabilities for sample 3000 / 10142
[t-SNE] Computed conditional probabilities for sample 4000 / 10142
[t-SNE] Computed conditional probabilities for sample 5000 / 10142
[t-SNE] Computed conditional probabilities for sample 6000 / 10142
[t-SNE] Computed conditional probabilities for sample 7000 / 10142
[t-SNE] Computed conditional probabilities for sample 8000 / 10142
[t-SNE] Computed conditional probabilities for sample 9000 / 10142
[t-SNE] Computed conditional probabilities for sample 10000 / 10142
[t-SNE] Computed conditional probabilities for sample 10142 / 10142
[t-SNE] Mean sigma: 1748.842260
[t-SNE] KL divergence after 250 iterations with early exaggeration: 101.961937
[t-SNE] KL divergence after 1000 iterations: 2.752523

In [5]:
test_y = clf.predict(tsne_test)

# Submission

In [6]:
import pandas as pd

In [7]:
submission = pd.read_csv(test_label_file)

               ID  Label
0  test_00000.png    NaN
1  test_00001.png    NaN
2  test_00002.png    NaN
3  test_00003.png    NaN
4  test_00004.png    NaN

In [8]:
for i in range(len(test_y)):
    submission.loc[i, 'Label'] = str(test_y[i])

In [9]:
submission.head()

               ID Label
0  test_00000.png     0
1  test_00001.png     1
2  test_00002.png     1
3  test_00003.png     0
4  test_00004.png     5

In [10]:
submission.to_csv('submission_tsne.csv', index=False)