In [4]:
%run aoi.ipynb

# Test

In [5]:
test_img = []
test_label = []

In [6]:
img = 0
for file in os.listdir(test_img_path):
    img = Image.open(test_img_path + '/' + file)
    im = np.array(img).reshape(-1)
    test_img.append(im)
test_img = np.array(test_img)

In [8]:
test_y = clf.predict(test_img)

# Submission

In [3]:
import pandas as pd

In [25]:
submission = pd.read_csv(test_label_file)

               ID  Label
0  test_00000.png    NaN
1  test_00001.png    NaN
2  test_00002.png    NaN
3  test_00003.png    NaN
4  test_00004.png    NaN

In [26]:
for i in range(len(test_y)):
    submission.loc[i, 'Label'] = str(test_y[i])

In [27]:
submission.head()

               ID Label
0  test_00000.png     1
1  test_00001.png     2
2  test_00002.png     0
3  test_00003.png     3
4  test_00004.png     2

In [28]:
submission.to_csv('submission.csv', index=False)